.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.5vh;
  background-color: #F6F8FB;
}

.left-side-main {
  position: realative;
  left: 0px;
  margin: 0;
  padding: 0;

}

.left-side-logo {
  position: absolute;
  top: 60px;
  left: 60px;
  bottom: 60px;

}

.right-main-img {

  display: flex;
  justify-content: center;
  align-items: center;
}



/* right side */
.login_heading {
  font-weight: 600;
}

.login_form {
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 2px 3px rgba(128, 128, 128, 0.209), -1px -2px 3px rgba(128, 128, 128, 0.209);
}

.right-side-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.right-side-content {
  max-width: 460px;
  width: 100%;

}



.loginBtn {
  border-radius: 5px;
  width: 100%;
  padding: 5px 5px;
  color: white;
  background-color: #F6F8FB;
  border: none;
  background-image: linear-gradient(to right, #FE512E 0%, #F09619 100%);
}

.input-field {
  width: 100%;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid grey;
}

.input-field:focus {
  outline: none;
}

.star-color {
  color: red;
}

.go_to_register {
  color: red;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.forget_password {
  color: red;
  text-decoration: none;
}

.input-field-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {

  padding-right: 2.5rem;
  /* Space for the icon */
}

.toggle-password {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  color: #888;
}




@media only screen and (max-width:992px) {
  .left-side {

    height: 90vh;


  }
}

@media only screen and (max-width:769px) {
  .registration-form-main {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .left-side-logo {
    position: absolute;
    top: 40px;
    left: 30px;
    bottom: 60px;
    height: 38px;
    width: 200px;
  }

  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #F6F8FB;

  }

  .right-main-img {
    margin-top: 100px;
  }

  .main-img {
    margin-top: 100px;
  }


}

@media only screen and (max-width:567px) {
  .left-side {
    height: 80vh;
  }

  .right-side-main {
    height: 70vh;

  }

  .left-side-logo {
    height: 30px;

  }
}

@media only screen and (max-width:400px) {
  .remember_forget_main {
    flex-direction: column;
  }

  .forget_password {
    margin-top: 10px;
  }
}