.form-container {
    max-width: 1680px;
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .cancelbtn{
    border-radius: 10px;
    width: 141px;
    color: #685e5e;
    font-size: 18px;
    height: 41px;
  }
  .createbtn{
   padding: 10px 60px;
   text-align: center;
    color: #ffffff;
    font-size: 18px;
    height: 41px;
    border-radius: 10px;
    
  }
  .form-title {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
   .form-control {
    margin-bottom: 10px;
    border-radius: 6px;
  }
  
  .btn-primary {
    background-color: #ff5722;
    border-color: #ff5722;
  }
  
 
  
  input[type="file"] {
    border: 2px dashed #ddd;
    padding: 10px;
    border-radius: 6px;
    background-color: #fafafa;
  }
  
  input::placeholder {
    color: #aaa;
  }
  .margin-right-5px {
    margin-right: 50px !important;
  }
  .upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    border: 2px dashed #ddd; /* Example border styling */
    border-radius: 8px;
}

.upload img {
    max-width: 80px; /* Adjust image size if needed */
    margin-bottom: 10px;
}

h6, span {
    text-align: center;
}

.file-info {
    font-size: 12px;
    color: #888; /* Adjust color if needed */
}

.border-top-only {
    border: none; /* Remove all borders */
    border-radius: 12px 12px 0 0; /* Rounded top-left and top-right corners */
}
.form{
    width: 1580px;
}

   /* {Toggle between Owner and Tenant}
   <div className="btn-group mb-3">
   <button
     className={`btn ${formType === 'Owner' ? 'btn-primary' : 'btn-outline-primary'}`}
     onClick={() => setFormType('Owner')}
   >
     Owner
   </button>
   <button
     className={`btn ${formType === 'Tenant' ? 'btn-primary' : 'btn-outline-primary'}`}
     onClick={() => setFormType('Tenant')}
   >
     Tenant
   </button>
 </div> */