.forget_password_para {
  font-size: 13px;
  color: grey;
  font-weight: 500;
}

.otpBtn {
  margin-top: 30px;
}

.getOtpBtn {
  border-radius: 5px;
  width: 100%;
  padding: 8px 5px;
  color: white;
  background-color: #F6F8FB;
  border: none;
  background-image: linear-gradient(to right, #FE512E 0%, #F09619 100%);
}

.back_to_login {
  font-size: 15px;
  cursor: pointer;
  color: red;
}

.forget_password_heading {
  font-weight: 600;
}