.forget_password_para {
  font-size: 13px;
  color: grey;
  font-weight: 500;
}

.otpBtn {
  margin-top: 30px;
}

.back_to_login {
  font-size: 15px;
  cursor: pointer;
}

.forget_password_heading {
  font-weight: 600;
}