.create_note_btn {
  background-image: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}

.main-content-wrapper {
  border: 1px solid rgba(128, 128, 128, 0.314);
  border-radius: 20px;
}

.edit_icon {
  float: right;
  padding: 1px;
  font-size: 18px;
  background-color: white;
  border-radius: 2px;
  margin-top: 5px;


}

.box-heading {
  background: #5678E9;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;


}

.entire_box_data {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.512);
}

.description_label_of_box {
  color: grey;
  padding-bottom: 0px;
  margin-bottom: 1px;
}

.dropdown-menu {
  width: 50px;
  max-width: 50px;
  position: absolute;
  top: 35px;
  right: 10px;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 0px;

}

.dropdown-item {
  color: black;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
  padding: 10px;


}

/* Model */

.add_note_heading {
  font-weight: 700;
}



.required_icon {
  color: rgba(255, 0, 0, 0.835);
  font-size: 8px;
  margin-bottom: 5px;
}

.modal-container .modal-dialog {
  max-width: 400px;
  height: 200px;
  max-height: 200px;
}

.save_btn {
  padding: 10px 0px;
}

.cancel_btn {
  padding: 10px 0px;
  background-color: white;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.657);
  font-weight: 600;
}

.cancel_btn:hover {
  padding: 10px 0px;
  background-color: white;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.657);
  font-weight: 600;
}