


.status-open {
    background-color: #f0f4ff; /* Light blue background */
    color: #6c83f7;
  }
.Tenant{
    background-color:#FFF1F8;
    color:#EC4899;
}
.Owner1{
    background: #F1F0FF;
    color: #4F46E5;
}
.Pending{
    background: #FFC3131A;
    color: #ffc004;
}
.Done{
    background: #39973D1A;
    color: #39973D; 
}
.Online{
    background: #5678E91A;
    color: #5678E9;
}
.Cash{
    background: #2022240D;
    color:#202224;
}
.rounded-table th,
.rounded-table td {
  text-align: center; /* Center align text horizontally */
  vertical-align: middle; /* Center align text vertically */
  /* Adjust padding for more spacing */
}

.rounded-table thead th:first-child {
  border-top-left-radius: 12px;
}

.rounded-table thead th:last-child {
  border-top-right-radius: 12px;
}
.rounded-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%; /* Full width table */
    overflow: hidden;
  }
  .balance-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: relative;
    height: 90px;
  }
  
  .balance-card::before {
    content: '';
    position: absolute;
    top:25%;
    left: 0;
    bottom: 0;
    width: 8px;
    height: 40px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  
  /* Distinct colors for each card type */
  .balance-card-danger::before {
    background: #E74C3C;
  }
  
  .balance-card-green::before {
    background: #39973D;
  } 
 
  .balance-amount {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .btn-primary{
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
  }
    .note-card {
      border-radius: 10px;
      overflow: hidden;
  }
  
  .note-card .card-body {
      padding: 15px;
  }
  
  .note-card .badge {
      font-weight: bold;
      
  }
  .badge1 {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    text-align: center; /* Center text within badge */
  }