.header_background_color {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.265);
}

.header_background_color {
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.265);
  
}.notification-dropdown {
  border-radius: 8px;
  z-index: 1000;
  max-height: 500px;
  overflow-y: auto;
}
.navbar_main{
  padding-top: 5px;
}
.header-main{
  border: 1px solid rgba(128, 128, 128, 0.13);
}
.securityHeaderMain{
  max-height: 200px;
}

.notification-dropdown ul {
  padding-left: 0;
}
input:focus {
  border-color: rgba(128, 128, 128, 0.288) !important;
  outline: none;
 
  /* Remove the default outline */
}
.notification-dropdown li {
  padding: 8px 0;
}

.notification-dropdown li:not(:last-child) {
  border-bottom: 1px solid #e9ecef;
}

.notification-dropdown button {
  color: #007bff;
  text-decoration: underline;
}

.notification-dropdown h6 {
  font-weight: bold;
}

.badge {
  font-size: 0.75rem;
}
