.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.5vh;
  background-color: #F6F8FB;
}



.left-side-main {
  position: realative;
  left: 0px;
  margin: 0;
  padding: 0;
}

.left-side-logo {
  position: absolute;
  top: 60px;
  left: 60px;
  bottom: 60px;

}

.right-main-img {

  display: flex;
  justify-content: center;
  align-items: center;
}


/* Right side */


/* right side */
.register_heading {
  font-weight: 600;
}

.register-side-main {


  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.register-content {


  max-width: 500px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 1px 2px 3px rgba(128, 128, 128, 0.209), -1px -2px 3px rgba(128, 128, 128, 0.209);
}





label {
  padding-bottom: 2px;
  font-weight: 600;
}

.input-field {
  width: 100%;
  padding: 5px 7px;
  border-radius: 5px;
  font-size: 13px;
  border: 1px solid grey;
}

option {
  width: 100%;

}

select {
  width: 100%;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 13px;
}

.privacy-policy {
  color: red;
}

input[type="checkbox"] {
  width: none;
  margin-right: 2px;
}



.registerBtn {
  border-radius: 5px;
  width: 100%;
  padding: 5px 5px;
  color: white;
  background-color: #F6F8FB;
  border: none;
  background-image: linear-gradient(to right, #FE512E 0%, #F09619 100%);

}

.add_society_btn {
  text-align: center;
  width: 100%;
  color: white;
  background-color: red;
  background-image: linear-gradient(to right, #FE512E 0%, #F09619 100%);
  border-radius: 5px;
  padding: 8px 5px;
  border: none;
}



.login {
  color: red;
  text-decoration: none;
}

.star-color {
  color: red;
}

/* Model */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content-main {
  background: white !important;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.modal-content {
  background: white !important;
  padding: 0px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
}

.model-Container {
  background-color: white;
  padding: 20px 0px 10px;
  border-radius: 10px;
}

.cancelRegisterBtn {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding: 7px 0px;
  color: black;
  border: 1px solid grey;



}

.saveRegisterBtn {
  background-image: linear-gradient(to right, #FE512E 0%, #F09619 100%);
  border-radius: 5px;
  width: 100%;
  padding: 8px 0px;
  color: white;
  border: none;



}

.input-field-container {
  position: relative;
  display: flex;
  align-items: center;
}

.password-input {

  padding-right: 2.5rem;
  /* Space for the icon */
}

.toggle-password {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
  color: #888;
}

.error-text {
  color: red;
  font-size: 12px;
}



@media only screen and (max-width:1200px) {}

@media only screen and (max-width:992px) {
  .left-side {
    height: 90vh;

  }

}

@media only screen and (max-width:768px) {

  .left-side-logo {
    position: absolute;
    top: 40px;
    left: 30px;

    height: 38px;
    width: 200px;
  }

  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6F8FB;

  }

  .right-main-img {
    margin-top: 100px;
  }

  .main-img {
    margin-top: 100px;
  }

  .register-side-main {
    margin-top: 200px;
  }

  .register-content {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .left-side-main {
    width: 100%;
  }

  .register-side-main {
    width: 100%;
  }





}

@media only screen and (max-width:567px) {
  .left-side {
    padding: 0px 20px;
    height: 80vh;
    z-index: 1111;


  }

  .register-content {
    margin-top: 400px;
    margin-bottom: 50px;
  }

  .left-side-logo {
    height: 30px;

  }




}