
.modal-backdrop {
  z-index: 1040 !important; /* Backdrop */
}

.modal {
  z-index: 1050 !important; /* Modal */
}
.polltype{
  color: rgba(32, 34, 36, 1);
  font-size: 16px;
  font-weight: 600;
}
.poll3btn{
  font-size: 15px;
  font-weight: 500;
  padding: 10px 30px;
border: none;
border-radius: 10px 10px 0px 0px;
  color:rgb(0, 0, 0);
}
.poll3btn:hover {
  color: black;
}

.username{
    font-weight: 600;
    font-size: 16px;
    font-style: poppins;
    color: rgba(86, 120, 233, 1);
}
.progress{

    height: 5px;
}
.progressbarno{
    background-color: rgba(231, 76, 60, 1);
}
.poll-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
  }
  .badge{
   background-color:  rgba(110, 142, 249, 1);
    color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: 600;
  }
  .poll-card .card-header {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    padding: 0.75rem;
  }
  
  .poll-card .card-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .poll-card .poll-question {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .poll-card .btn {
    width: 45%;
    font-size: 0.9rem;
  }
  
  .poll-card .btn-outline-success {
    color: #28a745;
    border-color: #28a745;
  }
  
  .poll-card .btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
  }
  
  .poll-card .btn:hover {
    color: #fff;
  }
  
  .poll-card .btn-outline-success:hover {
    background-color: #28a745;
  }
  
  .poll-card .btn-outline-danger:hover {
    background-color: #dc3545;
  }
  
  .poll-card .progress-bar.bg-success {
    background-color: #28a745;
  }
  
  .poll-card .progress-bar.bg-danger {
    background-color: #dc3545;
  }
  
  .poll-card .card-footer {
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-top: 1px solid #ddd;
  }
  .radio-group input[type="radio"] {
    appearance: none; /* Remove default styles */
    
    padding: 7px 7px;
    border: 2px solid #f09619; /* Orange border */
    border-radius: 50%; /* Make it round */
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
  }
  .radio-group input[type="radio"]:checked{
    background-color: rgb(255, 255, 255);
  }
  
  .radio-group input[type="radio"]:checked::before {
    content: "";
    width: 10px;
    height: 10px;
    background: linear-gradient(90deg, #FE512E 0%, #F09619 100%);
    /* Inner orange dot when checked */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .pollPageStyle{
    font-family: poppins;
    font-weight: 600;
  }